.piano-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .instrument-selector {
    margin-bottom: 20px;
  }
  
  .teclas-container {
    display: flex;
    justify-content: center;
  }
  
  .tecla {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tecla:hover {
    background-color: #f0f0f0;
  }
  